{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Trang chủ{% endblock %}</title>

    <!-- Bootstrap -->
    
    <script src="{% static 'js/bootstrap/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/jquery-3.4.1.slim.min.js' %}"></script>
    <script src="{% static 'js/jquery.collapser.js' %}"></script>
    
    <!-- End bootstrap -->

    <script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    
    

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    
    
    <script src="{% static 'js/vue/vue.js' %}"></script>
    <script src="{% static 'js/vue/vuex.js' %}"></script>



    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
    .product-recently{
        position: fixed;
        right: 0;
        top: 50%;
        width: 100px;
    }
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: white;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 40px;

        box-shadow: 0 0 10px 2px #6c6c78;   
    }
    .img-container{
        height: 200px;
        position: relative;
        padding-left: 0px;
        border: 1px solid #dee2e6;
    }
    .item:hover{
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
    }
    .img-container img{
        width: 80%;
    }
    .item{
        margin-bottom: 20px;
    }
   

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    #main {
    transition: margin-left .5s;
    padding: 16px;
    }

    @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    }


    li{
        list-style: none;

    }
    a:link {
        text-decoration: none;
    }
    a:visited {
        text-decoration: none;
    }
    a:hover {
        text-decoration: none;  
    }
    .h-links ul li ul li{
        padding-right: 15px;
    }
    .h-links ul li ul li a{
        font-size: 15px;
        color: #333;
    }
    a{
        color: #333;
    }
    .ul-main li p{
        color: #333;
        font-weight: bold;
    }
    .ul-main ul li{
        font-size: 15px;
        display:inline-block;
    }
    
    </style>
</head>

{% block header %}
<div class="wrapper">
    <div class="header">
        <div class="header-top">
            <div class="navbar-wrapper navbar-default" role="navigation">
                <div class="container clearfix navbar-default">
                    <div class="main-box">
                        <div class="row">
                            <div class="left-header clearfix col-md-4">
                                <ul class="left">
                                    <li class=""> 
                                        <a href="{% url 'help' %}">
                                            <i class="fa fa-info-circle"></i>
                                            Trợ giúp
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="">
                                            <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                            Tin tức
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="">
                                            <i class="fa fa-tags"></i>
                                            Khuyến mãi
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="right-header clearfix col-md-8" >
                                <ul class="right" style="float: right;">
                                    <li class="">
                                        <a href="">
                                            <i class="fa fa-gift"></i>
                                            Ưu đãi và tiện ích
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="">
                                            <i class="fa fa-shopping-bag"></i>
                                            Kiểm tra đơn hàng
                                        </a>
                                    </li>
                                   
                                    {% if request.user.is_authenticated %}
                                    <li>
                                        <a href="{% url 'account' %}">{{ request.user.username }}</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'logout' %}" class="">Đăng xuất</a>
                                    </li>
                                    {% else %}
                                    <li class="">
                                        <a href="{% url 'login' %}">
                                            <i class="fa fa-sign-in"></i>
                                            Đăng nhập
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="{% url 'signup' %}">
                                            <i class="fa fa-user-plus"></i>
                                            Đăng ký
                                        </a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div> 
                    </div>
                      
                </div>
            </div>     
        </div>
        <div class="logo clearfix">
            <div class="container clearfix">
                <div class="logo-left col-md-2">
                    <a href="/">
                        <img src="https://bookbuy.vn/Images/frontend/base/logo-new.png" alt="">
                    </a>
                </div>
                <div class="search-box col-md-6">
                    <form action="{% url 'search' %}" method="GET" >
                        <input type="text" placeholder="Tìm kiếm sản phẩm mong muốn..." autocomplete="off" name="query" >
                        <button class="button-search fa fa-search" style="border: none; background-color: white;" type="submit" >
                        </button>
                    </form>
                </div>
                <div class="contact col-md-4">
                    <div class="hotline col-md-7">
                        <i class="ic fa fa-headphones fa-2x"></i>
                        <span>
                            <p>0933 109 009</p>
                            <p style="color: #333;font-size: 15px;">Hot line</p>
                        </span>
                    </div>
                    <div class="cart col-md-52" id="navbarapp" >
                        <a href="{% url 'cart' %}">
                            <i class="fa fa-shopping-cart fa-2x"></i>
                            <span>([[ numItems ]])</span>
                        </a>              
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    <div class="main-content clearfix">
    {% block content %}

    {% endblock %}  

    </div>
    {% block footer %}
    <div class="footer container mt-5">
        <div class="name">
            <h5>NHÀ SÁCH TRỰC TUYẾN BOOKBUY.VN</h5>
        </div>
        <div id="bb-footer">
            <div class="f-below">
                <div class="container">
                    <div class="f-below-container row">
                        <div class="help-links mobile-footer col-md-3 col-sm-3 col-xs-12">
                            <ul class="ul-main">
                                <li>
                                    <p class="header">HỖ TRỢ KHÁCH HÀNG</p>
                                    <ul class="menu">
                                        <li><a href="tel:0933109009">Sản phẩm & Đơn hàng: 0933 109 009</a> </li>
                                        <li><a href="tel:0989439986">Kỹ thuật & Bảo hành: 0989 439 986</a></li>
                                        <li><a href="tel:02838207153">Điện thoại: (028) 3820 7153 (giờ hành chính) </a></li>
                                        <li><a href="mailto:info@bookbuy.vn">Email: info@bookbuy.vn</a></li>
                                        <li> Địa chỉ: 147 Pasteur, Phường 6, Quận 3, TP.HCM</li>
                                        <li><a href="/lien-he.html">Sơ đồ đường đi</a></li>
    
                                    </ul>
                                </li>
    
                            </ul>
                        </div>
                        <div class="help-links mobile-footer col-md-3 col-sm-3 col-xs-12">
                            <ul class="ul-main">
                                <li>
    
                                    <p class="header">TRỢ GIÚP</p>
                                    <ul class="menu">
    
                                        <li><a id="btnTopNewsLetter" href="javascript:void(0)">Đăng ký nhận bản tin</a></li>
                                        <li><a href="/Help/Index/#helporder">Hướng dẫn mua hàng</a></li>
                                        <li><a href="/Help/Index/#paymenttype">Phương thức thanh toán</a></li>
                                        <li><a href="/Help/Index/#shippingtype">Phương thức vận chuyển</a></li>
                                        <li><a href="/cau-hoi-thuong-gap.html#returnpolicy">Chính sách đổi - trả</a></li>
                                        <li><a href="/cau-hoi-thuong-gap.html#refundpolicy">Chính sách bồi hoàn</a></li>
                                        <li><a href="/cau-hoi-thuong-gap.html">Câu hỏi thường gặp (FAQs)</a></li>
                                    </ul>
                                </li>
    
                            </ul>
                        </div>
                        <div class="help-links mobile-footer col-md-3 col-sm-3 col-xs-12">
                            <ul class="ul-main">
    
                                <li>
                                    <p class="header">   TÀI KHOẢN CỦA BẠN</p>
                                    <ul class="menu">
                                        <li>
                                            <a href="/cap-nhat-tai-khoan.html">Cập nhật tài khoản</a>
                                        </li>
                                        <li>
                                            <a href="/gio-hang.html">Giỏ hàng</a>
                                        </li>
                                        <li>
                                            <a href="/lich-su-giao-dich/1.html">Lịch sử giao dịch</a>
                                        </li>
                                        <li><a href="/san-pham-yeu-thich/1.html">Sản phẩm yêu thích</a></li>
                                        <li><a href="/kiem-tra-don-hang.html">Kiểm tra đơn hàng</a></li>
                                    </ul>
                                </li>
    
                            </ul>
                        </div>
                        <div class="help-links mobile-footer col-md-3 col-sm-3 col-xs-12">
                            <ul class="ul-main">
                                <li class="item-last">
                                    <p class="header">  BOOKBUY</p>

                                    <ul class="menu">
                                        <li><a href="/gioi-thieu-bookbuy.html">Giới thiệu bookbuy.vn</a></li>
                                        <li><a href="http://facebook.com/bookbuy.vn">BookBuy trên Facebook</a></li>
                                        <li><a href="/lien-he.html">Liên hệ BookBuy</a></li>
                                        <li><a href="/dat-hang-theo-yeu-cau.html">Đặt hàng theo yêu cầu</a></li>
                                        <li><a href="/cau-hoi-thuong-gap.html#plasticinfo">Bao plastic cho sách</a></li>
                                        <li><a href="/cau-hoi-thuong-gap.html#bbxupolicy">Tích lũy BBxu</a></li>
                                        <li><a href="http://kaspersky.proguide.vn/">Proguide.vn - Kaspersky</a></li>
                                        <li><a href="http://ibookstop.vn/">iBookStop.vn</a></li>
                                    </ul>
                                </li>
    
                            </ul>
                        </div>
    
                        <div class="h-links col-md-12 mobile-footer col-sm-12 col-xs-12">
                            <ul class="ul-main">
                                <li>
                                    <p class="header">   DANH MỤC PHỔ BIẾN</p>

                                    <ul class="menu">
                                        <li><a href="/pc?ct=420"><i class="fa fa-caret-right"></i> Truyện thiếu nhi</a></li>
                                        <li><a href="/pc?ct=58&tt=van-hoc" style="padding: 3px 10px 3px 0px;"><i class="fa fa-caret-right"></i> Sách văn học</a></li>
                                        <li><a href="/pc?ct=671"><i class="fa fa-caret-right"></i> Học sinh chân kinh</a></li>
                                        <li><a href="/pc?ct=756"><i class="fa fa-caret-right"></i> Hoàng Sa - Trường Sa</a></li>
                                        <li><a href="/pc?ct=183"><i class="fa fa-caret-right"></i> Thần đồng đất việt </a></li>
                                        <li><a href="/qua-tang/handmade/ct388/p1"><i class="fa fa-caret-right"></i> Quà Handmade</a></li>
                                        <li><a href="/van-phong-pham/dung-cu-sang-tao/ct891/p1"><i class="fa fa-caret-right"></i> Vật dụng sáng tạo</a></li>
                                        <li><a href="/sach/ky-nang-quan-ly/ct579/p1"><i class="fa fa-caret-right"></i> Sách quản lý</a></li>
                                        <li><a href="/sach/english-/ct871/p1"><i class="fa fa-caret-right"></i> Sách học Tiếng Anh</a></li>
                                        <li><a href="/vat-dung-gia-dinh/du-lich-phuot/ct664/p1"><i class="fa fa-caret-right"><span class="sp"> Du lịch, phượt</span></i></a></li>
                                        <li><a href="/nha-san-xuat/LEGO/ct6id180/p1"><i class="fa fa-caret-right"></i> Game Lego</a></li>
                                        <li><a href="/van-phong-pham/so-tay/ct117/p1"><i class="fa fa-caret-right"></i> Sổ tay</a></li>
                                        <li><a href="/vat-dung-gia-dinh/tui-the-thao/ct896/p1"><i class="fa fa-caret-right"></i> Túi thể thao</a></li>
                                        <li><a href="/vat-dung-gia-dinh/do-dung-ca-nhan/ct802/p1"><i class="fa fa-caret-right"></i> Bóp, ví</a></li>
                                        <li><a href="/cong-nghe/wacom/ct497/p1"><i class="fa fa-caret-right"></i> Bảng vẽ Wacom</a></li>
                                        <li><a href="/sach/14095/quang-ganh-lo-di-va-vui-song-ban-moi-2012-%28bia-mem%29.html"><i class="fa fa-caret-right"></i> Quẳng gánh lo đi và vui sống</a></li>
                                        <li><a href="/qua-tang/thu-bong-do-choi-vai/ct727/p1"><i class="fa fa-caret-right"></i> Gấu bông</a></li>
                                        <li><a href="/qua-tang/dong-ho-tranh/ct846/p1"><i class="fa fa-caret-right"></i> Đồng hồ tranh</a></li>
                                        <li><a href="/qua-tang/qua-tang-cho-be/ct386/p1"><i class="fa fa-caret-right"></i> Đồ chơi an toàn</a></li>
                                        <li><a href="/qua-tang/khan-choang/ct748/p1"><i class="fa fa-caret-right"></i> Khăn quàng cổ</a></li>
                                        <li><a href="/vat-dung-gia-dinh/ghe-luoi/ct839/p1"><i class="fa fa-caret-right"><span class="sp"> Ghế lười</span></i></a></li>
                                        <li><a href="/tac-gia/nguyen-nhat-anh-auth532/p1"><i class="fa fa-caret-right"></i> Truyện Nguyễn Nhật Ánh</a></li>
                                        <li><a href="/sach/kinh-di-gia-tuong-trinh-tham/ct567/p1"><i class="fa fa-caret-right"></i> Truyện trinh thám</a></li>
                                        <li><a href="http://cmavn.org/truyen-tranh/khoa-hoc-ve-truyen-tranh-chuyen-nghiep"><i class="fa fa-caret-right"></i>Hoc ve</a></li>
                                        <li><a href="/vat-dung-gia-dinh/du-lich-phuot/ct664/p1"><i class="fa fa-caret-right"></i> Do phuot</a></li>
                                        <li><a href="http://cmavn.org/hoat-hinh/khoa-hoc-lam-phim-hoat-hinh-3d-chuyen-nghiep"><i class="fa fa-caret-right"></i> Phim hoat hinh 3D</a></li>
                                        <li><a href="/vat-dung-gia-dinh/qua-luu-niem/ct387/p1"><i class="fa fa-caret-right"></i> Qua luu niem</a></li>
                                        <li><a href="http://cmavn.org/hoat-hinh/khoa-hoc-lam-phim-hoat-hinh-2d-animation-artist"><i class="fa fa-caret-right"></i> Phim hoat hinh 2D</a></li>
                                        <li><a href="http://cmavn.org/game/khoa-hoc-chuyen-vien-thiet-ke-game-dinh-cao-game-artist"><i class="fa fa-caret-right"></i> Thiet ke game</a></li>
                                        <li><a href="/sach/song-dep/ct50/p1"><i class="fa fa-caret-right"></i> Qua tang cuoc song</a></li>
                                        <li><a href="/sach/english-/ct871/p1"><i class="fa fa-caret-right"></i> Tai lieu tieng anh</a></li>
                                        <li><a href="/bo-suu-tap/hat-giong-tam-hon/22970/p1"><i class="fa fa-caret-right"></i> Qua tang cuoc song</a></li>
                                        <li><a href="/qua-tang/qua-tang-cho-nu/ct385/p1"><i class="fa fa-caret-right"></i> Qua 8/3</a></li>
                                        <li><a href="/qua-tang.html"><i class="fa fa-caret-right"></i> Qua sinh nhat</a></li>
                                        <li><a href="/sach.html"><i class="fa fa-caret-right"></i> Sinh nhat</a></li>
                                        <li><a href="/sach/truyen-ngon-tinh/ct861/p1"><i class="fa fa-caret-right"></i> Truyen ngon tinh</a></li>
                                        <li><a href="/sach/dam-my/ct860/p1"><i class="fa fa-caret-right"></i> Truyen dam my</a></li>
                                        <li><a href="/tac-gia/marc-levy-auth3721/p1"><i class="fa fa-caret-right"></i> Marc Levy</a></li>
                                        <li><a href="/sach/tieu-thuyet/ct278/p1"><i class="fa fa-caret-right"></i> Tieu thuyet tình cam</a></li>
                                        <li><a href="/sach/kinh-te/ct62/p1"><i class="fa fa-caret-right"></i> Kinh te</a></li>
                                        <li><a href="/sach/ky-nang-song/ct585/p1"><i class="fa fa-caret-right"></i> Ky nang song</a></li>
                                        <li><a href="/sach/tu-vi-chiem-tinh/ct889/p1"><i class="fa fa-caret-right"></i> Tu vi</a></li>
                                        <li><a href="/sach/tieng-nhat/ct607/p1"><i class="fa fa-caret-right"></i> Hoc tieng nhat</a></li>
                                        <li><a href="/vat-dung-gia-dinh/balo/ct739/p1"><i class="fa fa-caret-right"></i> Balo</a></li>
                                        <li><a href="/truyen-tranh.html"><i class="fa fa-caret-right"></i> Truyen tranh</a></li>
                                        <li><a href="/van-phong-pham/40645/but-chi-mau-nuoc-raffine-marco-36-mau-hop-thiec-7120-36tn.html "> <i class="fa fa-caret-right"></i> Chi Mau Marco</a></li>
    
                                    </ul>
    
                                </li>
                            </ul>
                        </div>
    
                        <div class="payment-box col-md-12 col-sm-12 col-xs-12">
    
                            <div class="payment-types">
                                <ul>
                                    <li class="li-first">
                                        Chấp nhận thanh toán :
                                    </li>
                                    <li>
                                        <a class="visa-master">
                                            <img src="{% static 'images/local/visa-master.png' %}" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a class="onepay">
                                            <img src="{% static 'images/local/internet-banking-icon.png' %}" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a class="visa-jcb">
                                            <img src="{% static 'images/local/jcb.png' %}" alt="">
                                        </a>
                                    </li>
                                    
                                    <li>
                                        <a class="moca-pay">
                                            <img src="{% static 'images/local/moca_logo.png' %}" alt="">
                                        </a>
                                    </li>
                                </ul>
                            </div>
    
                            <div class="social-networks" style="float: right;">
                                <ul>
                                    <li class="li-first">
                                        Làm bạn với BookBuy :
                                    </li>
                                    <li class="fb">
                                        <a target="_blank" href="http://facebook.com/bookbuy.vn"></a>
                                    </li>
                                    <li class="zl">
                                        <a target="_blank" href="tel:0933109009"></a>
                                    </li>
                                    <li class="ins">
                                        <a target="_blank" href="//www.instagram.com/bookbuy.vn"></a>
                                    </li>
                                    <li class="pin">
                                        <a target="_blank" href="http://pinterest.com/bookbuyvn"></a>
                                    </li>
                                    <li class="yt">
                                        <a target="_blank" href="//www.youtube.com/channel/UCvO9qDWw9UZGma5Fr2BcorQ"></a>
                                    </li>
    
                                </ul>
                            </div>
                            <div class="clearfix"></div>
    
    
                        </div>
    
                        <div class="copyright col-md-12 col-sm-12 col-xs-12">
                            
                            <div class="certificate">
                                <a target="_blank" href="http://online.gov.vn/HomePage/CustomWebsiteDisplay.aspx?DocId=815"><img class="slimmage" style="height:50px;" src="" /></a>
                            </div>
                            <div class="clearfix"></div>
    
                        </div>
    
                        <div class="clearfix"></div>
                        <br />
                    </div>
                </div>
    
            </div>
            <div class="newsletter-toggle active hidden-xs">  
                <form action="/BookBuy/RegisterLetter" data-ajax="true" data-ajax-failure="EmailRegisterToggleFailure" data-ajax-success="EmailRegisterToggleSuccess" id="emailletter-toggle" method="post">                
                    <h4 class="header-newsletter-toggle">
                                    <span>Đăng ký nhận bản tin từ Bookbuy</span>
                                    <a class="toggle">
                                        <i class="fa fa-angle-down"></i>
                                        <i class="fa fa-envelope-o"></i>
                                    </a>
                                </h4>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="EmailLetter" required="" id="emaillettertoggle" placeholder="Email của bạn" />
                                    <span class="toggle-error"></span>
                                    <span class="toggle-success"></span>
                                    <input type="hidden" id="sexIdToggle" name="sexId" />
                                    <ul class="action-submit">
                                        <li><a href="javacript:void(0)" class="submit-letter-toggle" data-gender="1">NAM</a></li>
                                        <li><a href="javacript:void(0)" class="submit-letter-toggle" data-gender="0">NỮ</a></li>
                                        <li><a href="javacript:void(0)" class="submit-letter-toggle" data-gender="2">LGBT</a></li>
                                    </ul>
                                    
                                </div>
                </form>
            </div>
        </div>
    </div>
    

    {% if recently_viewed_products %}
    <div id="mySidenav" class="sidenav">
        <div class="row" style="padding: 10px;">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            {% for r in recently_viewed_products %}
                <div class="col-md-6 item">
                    <div class='item-container'>
                        <a href="{% url 'productdetail' r.slug %}" class='product-item' style="text-decoration: None; color: black;">
                            <div class="img-container" style="width: 166.5px">
                                <img src="{{ r.image.url}}" class='product-thumbnail clearfix'>
                            </div>
                            <div class="item-info">
                                <div class='product-name'>
                                    <span >{{ r.name}}</span>
                                </div>
                                <div>
                                    {% if r.discount > 0 %}
                                        <span id="price_discount" style="color: #f7941e; font-size: 20px; font-weight: bold;">{{ r.price_discount }}</span>
                                        <del class='price'>{{ r.price_sell}}₫</del>
                                    {% else %}
                                        <span class='price'>{{ r.price_sell}}₫</span>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
        
    </div>
    
    <div class="product-recently">
        <span style="font-size: 20px;cursor:pointer" onclick="openNav()" class="navbar">&#9776; sản phẩm đã xem</span>
    </div>
    {% else %}
        <div class="product-recently" hidden>
           
        </div>
    {% endif %}


    {% endblock %}

    <script>
        function openNav() {
          document.getElementById("mySidenav").style.width = "400px";
        }
        
        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
        }
    </script>
    <script>
        
        var store = new Vuex.Store({
            state: 
            {
                numItems: {{ cart.get_total_length }},
                totalCost: {{ cart.get_total_cost }}
            },
            mutations: {
                increment(state, quantity) 
                {
                    state.numItems += quantity;
                },
                changeTotalCost(state, newCost)
                {
                    state.totalCost += newCost;
                }
            }
        });
        var navbarapp = new Vue({
            el: '#navbarapp',
            delimiters: ['[[', ']]'],
            store: store,
           
            computed : {
                numItems: function() {
                    return store.state.numItems
                }
            }
        })
    </script>
    {% block script %}
    {% endblock %}
</div>



