{% extends "../base.html" %}

{% block menu %} 
  {% with page=1 %}
    {{block.super}}
  {% endwith %}
{% endblock %}


{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Product</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Product</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <form novalidate method="POST" enctype="multipart/form-data">
            {%csrf_token%}
            <table class="table">{{form}}</table>
            <a href='{% url "list-product" %}' class="btn btn-secondary">
              Quay lại
            </a>
            <button type="submit" class="btn btn-primary">
              Lưu lại
            </button>
          </form>
          <!-- ./col -->
        </div>
        <!-- /.row -->
        
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
<script>
$(document).ready(function(){
    $('.table input').addClass('form-control');
});
</script>
{% endblock %}